<a href="https://colab.research.google.com/github/YashwanthAnantha/BioPython/blob/main/BioPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#STORING STRINGS IN VARIABLES
# store a short DNA sequence in the variable my_dna
my_dna = "ATGCGTA"
# store a short DNA sequence in the variable my_dna
my_dna = "ATGCGTA"

# now print the DNA sequence
print(my_dna)

ATGCGTA

In [ ]:
#We can change the value of a variable as many times as we like once we've created it:
my_dna = "ATGCGTA"
print(my_dna)

# change the value of my_dna
my_dna = "TGGTCCA"

ATGCGTA

In [ ]:
#TOOLS FOR MANIPULATING STRINGS
#CONCATENATION
my_dna = "AATT" + "GGCC"
print(my_dna)

AATTGGCC

In [ ]:
#In the above example, the things being concatenated were strings, but we can also use variables that point to strings:
upstream = "AAA"
my_dna = upstream + "ATGC"
# my_dna is now "AAAATGC"
#We can even join multiple strings together in one go:
upstream = "AAA"
downstream = "GGG"
my_dna = upstream + "ATGC" + downstream
# my_dna is now "AAAATGCGGG"

In [ ]:
#FINDING THE LENGTH OF A STRING
# this line doesn't produce any output
len("ATGC")

4

In [ ]:
my_dna = "ATGCGAGT"
dna_length = len(my_dna)

print("The length of the DNA sequence is " + str(dna_length))

The length of the DNA sequence is 8

In [ ]:
#CHANGING CASE
my_dna = "ATGC"
# print my_dna in lower case
print(my_dna.lower())

atgc

In [ ]:
print("ATGC")
len(my_dna)

ATGC

4

In [ ]:
#When we use a method, we write the name of the variable first, followed by a period, then the name of the method, then the method arguments in parentheses.
 For the example we're looking at here, lower(), there is no argument, but we still need to put the opening and closing parentheses.
#It's important to notice that the lower() method does not actually change the variable; instead it returns a copy of the variable in lower case. 
We can prove that it works this way by printing the variable before and after running lower(). Here's the code to do so:
my_dna = "ATGC"

# print the variable
print("before: " + my_dna)

# run the lower method and store the result
lowercase_dna = my_dna.lower()

# print the variable again
print("after: " + my_dna)

before: ATGC
after: ATGC

In [ ]:
#REPLACEMENT
#Here's another example of a useful method that belongs to the string type: replace(). replace() is slightly different from anything we've seen before – it takes two arguments (both strings) and returns a copy of the variable where all occurrences of the first string are replaced by the second string. That's quite a long-winded description, so here are a few examples to make things clearer:
protein = "vlspadktnv"

# replace valine with tyrosine
print(protein.replace("v", "y"))

# we can replace more than one character
print(protein.replace("vls", "ymt"))

# the original variable is not affected
print(protein)

ylspadktny
ymtpadktnv
vlspadktnv

In [ ]:
#EXTRACTING PART OF A STRING
#What do we do if we have a long string, but we only want a short portion of it? This is known as taking a substring, and it has its own notation in Python. To get a substring, we follow the variable name with a pair of square brackets which enclose a start and stop position, separated by a colon. Again, this is probably easier to visualize with a couple of examples – let's reuse our protein sequence from before:
protein = "vlspadktnv"

# print positions three to five
print(protein[3:5])

# positions start at zero, not one
print(protein[0:6])

# if we miss out the last number, it goes to the end of the string
print(protein[2:])

pa
vlspad
spadktnv

In [ ]:
#COUNTING AND FINDING SUBSTRINGS
#A very common job in biology is to count the number of times some pattern occurs in a DNA or protein sequence. In computer programming terms, what that translates to is counting the number of times a substring occurs in a string. 
#The method that does the job is called count(). It takes a single argument whose type is string, and returns the number of times that the argument is found in the variable. The return type is a number, so be careful about how you use it!
#Let's use our protein sequence one last time as an example. Remember that we have to use our old friend str() to turn the counts into strings so that we can print them.
protein = "vlspadktnv"
# count amino acid residues
valine_count = protein.count('v')
lsp_count = protein.count('lsp')
tryptophan_count = protein.count('w')

# now print the counts
print("valines: " + str(valine_count))
print("lsp: " + str(lsp_count))
print("tryptophans: " + str(tryptophan_count))

valines: 2
lsp: 1
tryptophans: 0

In [ ]:
#A closely related problem to counting substrings is finding their location. What if instead of counting the number of proline residues in our protein sequence we want to know where they are? The find() method will give us the answer, at least for simple cases. find() takes a single string argument, just like count(), and returns a number which is the position at which that substring first appears in the string (in computing, we call that the index of the substring).
#Remember that in Python we start counting from zero rather than one, so position 0 is the first character, position 4 is the fifth character, etc. A couple of examples:
protein = "vlspadktnv" 
print(str(protein.find('p'))) 
print(str(protein.find('kt'))) 
print(str(protein.find('w')))

3
6
-1

In [ ]:
#USING OPEN TO READ A FILE
my_file = open("dna.txt")
#A file object is a new type which we haven't encountered before, and it's a little more complicated than the string and number types that we saw in the previous section. With strings and numbers it was easy to understand what they represented – a single bit of text, or a single number. A file object, in contrast, represents something a bit less tangible – it represents a file on your computer's hard drive.
#The way that we use file objects is a bit different to strings and numbers as well. If you glance back at the examples from the previous section you'll see that most of the time when we want to use a variable containing a string or number we just use the variable name:
my_string = 'abcdefg'
print(my_string)
my_number = 42
print(my_number + 1)

abcdefg
43

In [ ]:
#In contrast, when we're working with file objects most of our interaction will be through methods. This style of programming will seem unusual at first, but as we'll see in this chapter, the file type has a well thought-out set of methods which let us do lots of useful things.
#The first thing we need to be able to do is to read the contents of the file. The file type has a read() method which does this. It doesn't take any arguments, and the return value is a string, which we can store in a variable. Once we've read the file contents into a variable, we can treat them just like any other string – for example, we can print them:
my_file = open("dna.txt")
file_contents = my_file.read()
print(file_contents)

ACTGTACGTGCACTGATC

In [ ]:
#DEALING WITH NEWLINES
# open the file
my_file = open("dna.txt")

# read the contents
my_dna = my_file.read()

# calculate the length
dna_length = len(my_dna)

# print the output
print("sequence is " + my_dna +  " and length is " + str(dna_length))

sequence is ACTGTACGTGCACTGATC
 and length is 19

In [ ]:
#WHY DO WE WANT TO WRITE OUR OWN FUNCTIONS?
#Here's a piece of code which prints the AT content (the proportion of a DNA sequence which is either A or T) of a given DNA sequence:
my_dna = "ACTGATCGATTACGTATAGTATTTGCTATCATACATATATATCGATGCGTTCAT" 

length = len(my_dna) 
a_count = my_dna.count('A') 
t_count = my_dna.count('T') 
at_content = (a_count + t_count) / length 

print("AT content is " + str(at_content))

AT content is 0.6851851851851852

In [ ]:
def get_at_content(dna): 
    length = len(dna) 
    a_count = dna.count('A')
    t_count = dna.count('T') 
    at_content = (a_count + t_count) / length 
    return at_content 

print(a_count)

16

In [ ]:
#CALLING AND IMPROVING OUR FUNCTION
def get_at_content(dna): 
    ... 

my_at_content = get_at_content("ATGCGCGATCGATCGAATCG")
print(str(my_at_content))

print(get_at_content("ATGCATGCAACTGTAGC"))
print(get_at_content("aactgtagctagctagcagcgta"))

None
None
None

In [ ]:
#We can add a rounding step in order to limit the number of significant figures in the result. Python has a built in round() function that takes two arguments – the number we want to round, and the number of significant figures. We'll call the round() function on the result before we return it❶. And we can fix the lower case problem by converting the input sequence to uppercase❷ before starting the calculation. Here's the new version of the function, with the same three function calls:
def get_at_content(dna): 
    length = len(dna) 
    a_count = dna.upper().count('A')
    t_count = dna.upper().count('T') 
    at_content = (a_count + t_count) / length 
    return round(at_content, 2)

my_at_content = get_at_content("ATGCGCGATCGATCGAATCG")
print(str(my_at_content))
print(get_at_content("ATGCATGCAACTGTAGC"))
print(get_at_content("aactgtagctagctagcagcgta"))

0.45
0.53
0.52

In [ ]:
#CONDITIONS, TRUE AND FALSE
#A condition is simply a bit of code that can produce a true or false answer. The easiest way to understand how conditions work in Python is to try out a few examples. The following example prints out the result of testing (or evaluating) a bunch of different conditions – some mathematical examples, some using string methods, and one for testing if a value is included in a list:
print(3 == 5)
print(3 > 5)
print(3 <=5)
print(len("ATGC") > 5)
print("GAATTC".count("T") > 1)
print("ATGCTT".startswith("ATG"))
print("ATGCTT".endswith("TTT"))
print("ATGCTT".isupper())
print("ATGCTT".islower())
print("V" in ["V", "W", "L"])

False
False
True
False
True
True
False
True
False
True

In [ ]:
#WRITING TRUE/FALSE FUNCTIONS

#Sometimes we want to write a function that can be used in a condition. This is very easy to do – we just make sure that our function always returns either True or False. Remember that True and False are built in values in Python, so they can be passed around, stored in variables, and returned, just like numbers or strings.
#Here's a function that determines whether or not a DNA sequence is AT-rich (we'll say that a sequence is AT-rich if it has an AT content of more than 0.65):
def is_at_rich(dna): 
    length = len(dna) 
    a_count = dna.upper().count('A') 
    t_count = dna.upper().count('T') 
    at_content = (a_count + t_count) / length 
    if at_content > 0.65:
        return True
    else:
        return False
print(is_at_rich("ATTATCTACTA"))
print(is_at_rich("CGGCAGCGCT"))

True
False

In [ ]:


dna = "ATCGCGYAATTCAC"

if re.search(r"[^ATGC]", dna):
    print("ambiguous base found!")

ambiguous base found!

In [ ]:
dna = "CGATNCGGAACGATC"
m = re.search(r"[^ATGC]", dna)

# m is now a match object
if m:
    print("ambiguous base found!")
    ambig = m.group()
    print("the base is " + ambig)

NameError: ignored

In [ ]:
scientific_name = "Homo sapiens" 

m = re.search("(.+) (.+)", scientific_name) 

if m: 
    genus = m.group(1) 
    species = m.group(2) 
    print("genus is " + genus + ", species is " + species)

genus is Homo, species is sapiens

In [ ]:
#GETTING MATCH POSITIONS
#As well as containing information about the contents of a match, the match object also holds information about the position of the match. The start() and end() methods get the positions of the start and end of the pattern on the string. Let's go back to our ambiguous base example and find the position of the ambiguous base:
dna = "CGATNCGGAACGATC" 
m = re.search(r"[^ATGC]", dna) 

if m: 
    print("ambiguous base found!") 
    print("at position " + str(m.start()))

ambiguous base found!
at position 4

In [ ]:
#MULTIPLE MATCHES
#An obvious limitation of the above example is that it can only find a single ambiguous base, because re.search() can only find a single match. To process multiple matches, we need to switch to re.finditer(), which returns a list of match objects which we can process in a loop:
dna = "CGCTCNTAGATGCGCRATGACTGCAYTGC" 

matches = re.finditer(r"[^ATGC]", dna) 
for m in matches: 
    base = m.group() 
    pos  = m.start() 
    print(base + " found at position " + str(pos))

N found at position 5
R found at position 15
Y found at position 25

In [ ]:
#GETTING MULTIPLE MATCHES AS STRINGS
#A common scenario is where we want to get a list of all the parts of a string that match a given pattern. Here's a regular expression pattern that matches runs of A and T longer than five bases:
#[AT]{6,}
#Here's a DNA sequence with the bits that we want to extract in bold:
#ACTGCATTATATCGTACGAAATTATACGCGCG
#We could extract the bits of the string that match the pattern using re.finditer() and group():

dna = "CTGCATTATATCGTACGAAATTATACGCGCG" 

matches = re.finditer(r"[AT]{6,}", dna) 

result = [] 
for m in matches: 
    result.append(m.group()) 

print(result)

['ATTATAT', 'AAATTATA']

In [ ]:
#SPLITTING A STRING USING A REGULAR EXPRESSION
#Occasionally it can be useful to split a string using a regular expression pattern as the delimiter. The normal string split() method doesn't allow this, but the re module has a split() function of its own that takes a regular expression pattern as an argument. The first argument is the pattern, the second argument is the string to be split.
#Imagine we have a consensus DNA sequence that contains ambiguity codes, and we want to extract all runs of contiguous unambiguous bases. We need to split the DNA string wherever we see a base that isn't A, T, G or C:
dna = "ACTNGCATRGCTACGTYACGATSCGAWTCG"
runs = re.split(r"[^ATGC]", dna)
print(runs)

['ACT', 'GCAT', 'GCTACGT', 'ACGAT', 'CGA', 'TCG']

In [ ]:
#One possible way round this is to store the values in a list. Let's look at an example involving dinucleotides. If we create a list of the 16 possible dinucleotides we can iterate over it, calculate the count for each one, and store all the counts in a list. Take a look at the code – the list of dinucleotides is quite long so it's been split over four lines to make it easier to read:
dna = "ATGATCGATCGAGTGA"
dinucleotides = ['AA','AT','AG','AC',
                 'TA','TT','TG','TC',
                 'GA','GT','GG','GC',
                 'CA','CT','CG','CC']
all_counts = []
for dinucleotide in dinucleotides:
    count = dna.count(dinucleotide)
    print("count is " + str(count) + " for " + dinucleotide)
    all_counts.append(count)
print(all_counts)

count is 0 for AA
count is 3 for AT
count is 1 for AG
count is 0 for AC
count is 0 for TA
count is 0 for TT
count is 2 for TG
count is 2 for TC
count is 4 for GA
count is 1 for GT
count is 0 for GG
count is 0 for GC
count is 0 for CA
count is 0 for CT
count is 2 for CG
count is 0 for CC
[0, 3, 1, 0, 0, 0, 2, 2, 4, 1, 0, 0, 0, 0, 2, 0]

In [ ]:
dataset = 'TCGCGGTCATCTGGGTTATTCTGTTCGGGCAGGTAATTTAGCCCTCGCGAATTGTTTCAATGCAATGGTACTATGACCCCGAATTACCCGGAGAATGTGAGACCGAGAGCGCAGACATCTTTCCGGAGAATACGGCTTGAGATGTGTAGTCAGGATTGTTCCTGTATGTTGTTGTACCCCTACTTTGGCCACGTCCTCTTTCGAAGCGATGTTACTCCCTGAGGCGGGTTAAAGCAGGGTGCCGCTTGCCCTCTTCTAAGGAGGCACCCCATTGAGAGGAGTCGATTGACCGTTATGACTCCCACTCGCTATAGGCCAACTCCATTGTGCGGACATTGGATTCAGAGGTGGGATATCGTTTTCGTTACTGCGATGCGATGGCGCTACCAGACTGCTCGAGTATACTCGATTTGGCTGTTGGCGTTGAGCGTTGTACCGTGAGGTCCTCGGACCTTCAGTAAGAATGCTACCGCCGGGTTAGATCATTCGATCGGTGTCTAGGAGACACAAACGTCCATTCCCCTTTCACCGAGAGATCGCCGGTCCATTCCCTTTCAGCGCGGGCTAAAGGAGCCTAGTATGAGACAGTTGCGGCTCCGAATGGAGCTCCGCGCCATGATAATGAGTCAACCCTGAGAGAGGAACAGGCGGGTCTGCATTAGAACATTACGAGAAGCCACTAGAATCGGACCGGTGATGGAAGAATGACTACACGGCTAACGACGTAAAGACTCACGCCGTTCAGCAAGCTGCACTATCCCAAGGGGTGAGAGAATAACAATAACAACATCACAGTCGTGCAGGCCGACAAAACCTTTATGTACGGCACGACTGTACTCTATAAAGCCCTTTGTGACCACCTCCCACTACACGAG'

a = dataset.count('A')
c = dataset.count('C')
g = dataset.count('G')
t = dataset.count('T')

print(a, c, g, t)

211 222 231 211

In [ ]:
protein = "vlspadktnv"
# count amino acid residues
valine_count = protein.count('v')
lsp_count = protein.count('lsp')
tryptophan_count = protein.count('w')

# now print the counts
print("valines: " + str(valine_count))
print("lsp: " + str(lsp_count))
print("tryptophans: " + str(tryptophan_count))

valines: 2
lsp: 1
tryptophans: 0

In [ ]:
my_dna = "ACTGATCGATTACGTATAGTATTTGCTATCATACATATATATCGATGCGTTCAT"
replacement1 = my_dna.replace('A', 't')
print(replacement1)
replacement2 = replacement1.replace('T', 'a')
print(replacement2)
replacement3 = replacement2.replace('C', 'g')
print(replacement3)
replacement4 = replacement3.replace('G', 'c')
print(replacement4)
print(replacement4.upper())

tCTGtTCGtTTtCGTtTtGTtTTTGCTtTCtTtCtTtTtTtTCGtTGCGTTCtT
tCaGtaCGtaatCGatatGataaaGCataCtatCtatatataCGtaGCGaaCta
tgaGtagGtaatgGatatGataaaGgatagtatgtatatatagGtaGgGaagta
tgactagctaatgcatatcataaacgatagtatgtatatatagctacgcaagta
TGACTAGCTAATGCATATCATAAACGATAGTATGTATATATAGCTACGCAAGTA

In [ ]:
my_dna = "ACTGATCGATTACGTATAGTAGAATTCTATCATACATATATATCGATGCGTTCAT"
frag1_length = my_dna.find("GAATTC") + 1
frag2_length = len(my_dna) - frag1_length
print("length of fragment one is " + str(frag1_length))
print("length of fragment two is " + str(frag2_length))

length of fragment one is 22
length of fragment two is 33

In [ ]:
my_dna = "ATCGATCGATCGATCGACTGACTAGTCATAGCTATGCATGTAGCTACTCGATCGATCGATCGATCGATCGATCGATCGATCGATCATGCTATCATCGATCGATATCGATGCATCGACTACTAT"
exon1 = my_dna[0:64]
exon2 = my_dna[91:]
print(exon1 + exon2)

ATCGATCGATCGATCGACTGACTAGTCATAGCTATGCATGTAGCTACTCGATCGATCGATCGATTCATCGATCGATATCGATGCATCGACTACTAT

In [ ]:
from __future__ import division
my_dna = "ATCGATCGATCGATCGACTGACTAGTCATAGCTATGCATGTAGCTACTCGATCGATCGATCGATCGATCGATCGATCGATCGATCATGCTATCATCGATCGATATCGATGCATCGACTACTAT"
exon1 = my_dna[0:64]
exon2 = my_dna[91:]
coding_length = len(exon1 + exon2)
total_length = len(my_dna)
print(100 * coding_length / total_length)

78.04878048780488

In [ ]:
dna = "AATGATGAACGAC"
dinucleotides = ['AA','AT','AG','AC',
                 'TA','TT','TG','TC',
                 'GA','GT','GG','GC',
                  'CA','CT','CG','CT']
all_counts = []
for dinucleotide in dinucleotides:
    count = dna.count(dinucleotide)
    print("count is " + str(count) + " for " + dinucleotide)
    all_counts.append(count)
print(all_counts)

count is 2 for AA
count is 2 for AT
count is 0 for AG
count is 2 for AC
count is 0 for TA
count is 0 for TT
count is 2 for TG
count is 0 for TC
count is 3 for GA
count is 0 for GT
count is 0 for GG
count is 0 for GC
count is 0 for CA
count is 0 for CT
count is 1 for CG
count is 0 for CT
[2, 2, 0, 2, 0, 0, 2, 0, 3, 0, 0, 0, 0, 0, 1, 0]

In [ ]:
gencode = {
    'ATA':'I', 'ATC':'I', 'ATT':'I', 'ATG':'M',
    'ACA':'T', 'ACC':'T', 'ACG':'T', 'ACT':'T',
    'AAC':'N', 'AAT':'N', 'AAA':'K', 'AAG':'K',
    'AGC':'S', 'AGT':'S', 'AGA':'R', 'AGG':'R',
    'CTA':'L', 'CTC':'L', 'CTG':'L', 'CTT':'L',
    'CCA':'P', 'CCC':'P', 'CCG':'P', 'CCT':'P',
    'CAC':'H', 'CAT':'H', 'CAA':'Q', 'CAG':'Q',
    'CGA':'R', 'CGC':'R', 'CGG':'R', 'CGT':'R',
    'GTA':'V', 'GTC':'V', 'GTG':'V', 'GTT':'V',
    'GCA':'A', 'GCC':'A', 'GCG':'A', 'GCT':'A',
    'GAC':'D', 'GAT':'D', 'GAA':'E', 'GAG':'E',
    'GGA':'G', 'GGC':'G', 'GGG':'G', 'GGT':'G',
    'TCA':'S', 'TCC':'S', 'TCG':'S', 'TCT':'S',
    'TTC':'F', 'TTT':'F', 'TTA':'L', 'TTG':'L',
    'TAC':'Y', 'TAT':'Y', 'TAA':'_', 'TAG':'_',
    'TGC':'C', 'TGT':'C', 'TGA':'_', 'TGG':'W'}

def translate_dna(dna):
    last_codon_start = len(dna) - 2
    protein = ""
    for start in range(0,last_codon_start,3):
        codon = dna[start:start+3]
        aa = gencode.get(codon, 'X')
        protein = protein + aa
    return protein

# input sequence is easy
assert(translate_dna("ATGTTCGGT")) == "MFG"

# input sequence has incomplete codons at the end
assert(translate_dna("ATCGATCGAT")) == "IDR"

# input sequence contains N
assert(translate_dna("ACGANCGAT")) == "TXD"

In [ ]:
import re
dna = "ATCGCGAATTCAC"
if re.search(r"GAATTC", dna):
	print("restriction site found!")

restriction site found!

In [ ]:
protein = "vlspadktnv" 
print(str(protein.find('p'))) 
print(str(protein.find('kt'))) 
print(str(protein.find('w')))

3
6
-1

In [ ]:
for number in range(6):
    print(number)

0
1
2
3
4
5

In [ ]:
import re
dna = "ACTNGCATRGCTACGTYACGATSCGAWTCG"
runs = re.split(r"[^ATGC]", dna)
print(runs)

['ACT', 'GCAT', 'GCTACGT', 'ACGAT', 'CGA', 'TCG']

In [ ]:
file1 = open("one.txt", "w")
file2 = open("two.txt", "w")
accs = ['ab56', 'bh84', 'hv76', 'ay93', 'ap97', 'bd72']
for accession in accs:
	if accession.startswith('a'):
		file1.write(accession + "\n")
	else:
		file2.write(accession + "\n")

In [ ]:
from __future__ import division

def get_aa_percentage(protein, aa):
	protein = protein.upper()
	aa = aa.upper()
	aa_count = protein.count(aa)
	protein_length = len(protein)
	percentage = aa_count * 100 / protein_length
	return percentage

assert get_aa_percentage("MSRSLLLRFLLFLLLLPPLP", "M") == 5
assert get_aa_percentage("MSRSLLLRFLLFLLLLPPLP", "r") == 10
assert get_aa_percentage("msrslllrfllfllllpplp", "L") == 50
assert get_aa_percentage("MSRSLLLRFLLFLLLLPPLP", "Y") == 0

In [ ]:
from __future__ import division

def get_at_content(dna): 
    length = len(dna) 
    a_count = dna.count('A') 
    t_count = dna.count('T') 
    at_content = (a_count + t_count) / length 
    return at_content 

my_at_content = get_at_content("ATGCGCGATCGATCGAATCG")
print(str(my_at_content))
print(get_at_content("ATGCATGCAACTGTAGC"))
print(get_at_content("aactgtagctagctagcagcgta"))

0.45
0.5294117647058824
0.0

In [ ]:
my_dna = "ACTGATCGATTACGTATAGTATTTGCTATCATACATATATATCGATGCGTTCAT"
replacement1 = my_dna.replace('A', 't')
print(replacement1)
replacement2 = replacement1.replace('T', 'a')
print(replacement2)
replacement3 = replacement2.replace('C', 'g')
print(replacement3)
replacement4 = replacement3.replace('G', 'c')
print(replacement4)
print(replacement4.upper())

tCTGtTCGtTTtCGTtTtGTtTTTGCTtTCtTtCtTtTtTtTCGtTGCGTTCtT
tCaGtaCGtaatCGatatGataaaGCataCtatCtatatataCGtaGCGaaCta
tgaGtagGtaatgGatatGataaaGgatagtatgtatatatagGtaGgGaagta
tgactagctaatgcatatcataaacgatagtatgtatatatagctacgcaagta
TGACTAGCTAATGCATATCATAAACGATAGTATGTATATATAGCTACGCAAGTA

In [ ]:
gencode = {
    'ATA':'I', 'ATC':'I', 'ATT':'I', 'ATG':'M',
    'ACA':'T', 'ACC':'T', 'ACG':'T', 'ACT':'T',
    'AAC':'N', 'AAT':'N', 'AAA':'K', 'AAG':'K',
    'AGC':'S', 'AGT':'S', 'AGA':'R', 'AGG':'R',
    'CTA':'L', 'CTC':'L', 'CTG':'L', 'CTT':'L',
    'CCA':'P', 'CCC':'P', 'CCG':'P', 'CCT':'P',
    'CAC':'H', 'CAT':'H', 'CAA':'Q', 'CAG':'Q',
    'CGA':'R', 'CGC':'R', 'CGG':'R', 'CGT':'R',
    'GTA':'V', 'GTC':'V', 'GTG':'V', 'GTT':'V',
    'GCA':'A', 'GCC':'A', 'GCG':'A', 'GCT':'A',
    'GAC':'D', 'GAT':'D', 'GAA':'E', 'GAG':'E',
    'GGA':'G', 'GGC':'G', 'GGG':'G', 'GGT':'G',
    'TCA':'S', 'TCC':'S', 'TCG':'S', 'TCT':'S',
    'TTC':'F', 'TTT':'F', 'TTA':'L', 'TTG':'L',
    'TAC':'Y', 'TAT':'Y', 'TAA':'_', 'TAG':'_',
    'TGC':'C', 'TGT':'C', 'TGA':'_', 'TGG':'W'}

def translate_dna(dna):
    last_codon_start = len(dna) - 2
    protein = ""
    for start in range(0,last_codon_start,3):
        codon = dna[start:start+3]
        aa = gencode.get(codon, 'X')
        protein = protein + aa
    return protein

# input sequence is easy
assert(translate_dna("ATGTTCGGT")) == "MFG"

# input sequence has incomplete codons at the end
assert(translate_dna("ATCGATCGAT")) == "IDR"

# input sequence contains N
assert(translate_dna("ACGANCGAT")) == "TXD"

In [ ]:
import re
dna = "CGATNCGGAACGATC"
m = re.search(r"[^ATGC]", dna)

# m is now a match object
if m:
    print("ambiguous base found!")
    ambig = m.group()
    print("the base is " + ambig)

ambiguous base found!
the base is N

In [ ]:
import re
dna = "CTGCATTATATCGTACGAAATTATACGCGCG!"

result = re.findall(r"[AT]{6,}", dna)

print(result)

['ATTATAT', 'AAATTATA']

In [ ]:
import re

dna = "CGCTCNTAGATGCGCRATGACTGCAYTGC"

matches = re.finditer(r"[^ATGC]", dna)
for m in matches:
	base = m.group()
	pos  = m.start()
	print(base + " found at position " + str(pos))
print(matches)

N found at position 5
R found at position 15
Y found at position 25
<callable_iterator object at 0x7f70a3b9f780>

In [ ]:
import re

dna = "CGATNCGGAACGATC"
m = re.search(r"[^ATGC]", dna)

if m:
    print("ambiguous base found!")
    print("at position " + str(m.start()))

ambiguous base found!
at position 4

In [ ]:
# open the file
my_file = open("dna.txt")
# read the contents
my_dna = my_file.read()
# calculate the length
dna_length = len(my_dna)
# print the output
print("sequence is " + my_dna +  " and length is " + str(dna_length))

sequence is ACTGTACGTGCACTGATC
 and length is 19

In [ ]:
protein = "vlspadktnv"
# replace valine with tyrosine
print(protein.replace("v", "y"))
# we can replace more than one character
print(protein.replace("vls", "ymt"))
# the original variable is not affected
print(protein)

ylspadktny
ymtpadktnv
vlspadktnv

In [ ]:
ranks = ["kingdom","phylum", "class", "order", "family"]
print("at the start : " + str(ranks))
ranks.reverse()
print("after reversing : " + str(ranks))
ranks.sort()
print("after sorting : " + str(ranks))

at the start : ['kingdom', 'phylum', 'class', 'order', 'family']
after reversing : ['family', 'order', 'class', 'phylum', 'kingdom']
after sorting : ['class', 'family', 'kingdom', 'order', 'phylum']

In [ ]:
from __future__ import division

def get_at_content(dna, sig_figs): 
    length = len(dna) 
    a_count = dna.upper().count('A') 
    t_count = dna.upper().count('T') 
    at_content = (a_count + t_count) / length 
    return round(at_content, sig_figs) 

test_dna = "ATGCATGCAACTGTAGC"
print(get_at_content(test_dna, 1))
print(get_at_content(test_dna, 2))
print(get_at_content(test_dna, 3))

0.5
0.53
0.529

In [ ]:
from __future__ import division

def get_aa_percentage(protein, aa):
	protein = protein.upper()
	aa = aa.upper()
	aa_count = protein.count(aa)
	protein_length = len(protein)
	percentage = aa_count * 100 / protein_length
	return percentage

assert get_aa_percentage("MSRSLLLRFLLFLLLLPPLP", "M") == 5
assert get_aa_percentage("MSRSLLLRFLLFLLLLPPLP", "r") == 10
assert get_aa_percentage("msrslllrfllfllllpplp", "L") == 50
assert get_aa_percentage("MSRSLLLRFLLFLLLLPPLP", "Y") == 0

In [ ]:
dna = "AATGATGAACGAC"
dinucleotides = ['AA','AT','AG','AC',
                 'TA','TT','TG','TC',
                 'GA','GT','GG','GC',
                  'CA','CT','CG','CT']
all_counts = []
for dinucleotide in dinucleotides:
    count = dna.count(dinucleotide)
    print("count is " + str(count) + " for " + dinucleotide)
    all_counts.append(count)
print(all_counts)

count is 2 for AA
count is 2 for AT
count is 0 for AG
count is 2 for AC
count is 0 for TA
count is 0 for TT
count is 2 for TG
count is 0 for TC
count is 3 for GA
count is 0 for GT
count is 0 for GG
count is 0 for GC
count is 0 for CA
count is 0 for CT
count is 1 for CG
count is 0 for CT
[2, 2, 0, 2, 0, 0, 2, 0, 3, 0, 0, 0, 0, 0, 1, 0]

In [ ]:
my_dna = "ATCGATCGATCGATCGACTGACTAGTCATAGCTATGCATGTAGCTACTCGATCGATCGATCGATCGATCGATCGATCGATCGATCATGCTATCATCGATCGATATCGATGCATCGACTACTAT"
exon1 = my_dna[0:64]
exon2 = my_dna[91:]
print(exon1 + exon2)

ATCGATCGATCGATCGACTGACTAGTCATAGCTATGCATGTAGCTACTCGATCGATCGATCGATTCATCGATCGATATCGATGCATCGACTACTAT